* {
    box-sizing: border-box;
}
#first_block { /*Divide by 2 blocks*/
    
    width: 30%;
    display: inline-block;
}
#second_block {
    
    width: 69%;
    display: inline-block;
}
#contenier {
    width: 100%;
}
/*--*/

.resume {
    width: 100%;
    background-color: #94cccd;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    color: white;
}
.name {
    text-align: center;
    line-height: 0.3;
   
}
p {
    font-size: 16px;
}
.image {
     width: 70%;
     margin: auto;
     display: block;
     border-radius: 50%;
     padding: 15px;
}
.account {
    background-color: #e7e7e9;
    width: 100%;
}
.contact {
    
    padding: 5px;
    text-align: center;
    line-height: 0.3;
}
.setting {
    width: 7%;
}
.skills {
    text-align: center;
    line-height: 0;
    padding: 5px;
}

.inp {
    padding: 3px;
}
.skill_size {

    padding-left: 10%;
    font-size: 16px;
    line-height: 0;
}
/*Here the style for input/range for work in mozilla*/
.range::-moz-range-track {
    -moz-appearance: none;
    border: 1px solid #d4d4d4;
    background: -moz-linear-gradient(left, #fff 0%, #fff 25%, #000 25%, #000 100%);
    width: 80%;
    margin: auto;
    display: block;
    height: 10px;
    outline: none;
}
.range::-moz-range-thumb {
    -moz-appearance: none;
    background-color: #d4d4d4;
    width: 0px;
    height: 0px;
    border-radius: 18px;
    cursor: pointer;
}

.range1 {
    background: -moz-linear-gradient(left, #fff 0%, #fff 90%, #000 90%, #000 100%);
}
.range2 {
    background: -moz-linear-gradient(left, #fff 0%, #fff 75%, #000 75%, #000 100%);
}
.range3 {
    background: -moz-linear-gradient(left, #fff 0%, #fff 88%, #000 88%, #000 100%);
}
.range4 {
    background: -moz-linear-gradient(left, #fff 0%, #fff 68%, #000 68%, #000 100%);
}
.range5 {
    background: -moz-linear-gradient(left, #fff 0%, #fff 80%, #000 80%, #000 100%);
}
.range6 {
    background: -moz-linear-gradient(left, #fff 0%, #fff 65%, #000 65%, #000 100%);
}
.range7 {
    background: -moz-linear-gradient(left, #fff 0%, #fff 78%, #000 78%, #000 100%);
}
/*end -moz-*/

/*Here the style for input/range for work in Chrome*/
.range {
    -webkit-appearance: none;
    border: 1px solid #d4d4d4;
    width: 80%;
    margin: auto;
    display: block;
    height: 10px;
    outline: none;
    border-radius: 20px;
}
.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #d4d4d4;
    width: 0px;
    height: 0px;
    border-radius: 18px;
    cursor: pointer;
}


.range1 {
    background: -webkit-linear-gradient(left, #fff 0%, #fff 90%, #000 90%, #000 100%);
}
.range2 {
    background: -webkit-linear-gradient(left, #fff 0%, #fff 75%, #000 75%, #000 100%);
}
.range3 {
    background: -webkit-linear-gradient(left, #fff 0%, #fff 88%, #000 88%, #000 100%);
}
.range4 {
    background: -webkit-linear-gradient(left, #fff 0%, #fff 68%, #000 68%, #000 100%);
}
.range5 {
    background: -webkit-linear-gradient(left, #fff 0%, #fff 80%, #000 80%, #000 100%);
}
.range6 {
    background: -webkit-linear-gradient(left, #fff 0%, #fff 65%, #000 65%, #000 100%);
}
.range7 {
    background: -webkit-linear-gradient(left, #fff 0%, #fff 78%, #000 78%, #000 100%);
}
/* End -chrome-*/

/*style for vertical input/range for choosing the languages level*/

.language {
    width: 7%;
}
.lang {
    text-align: center;
    line-height: 0;
    padding-top: 10px;
   
}

/* For working in Chrome */
.vertical-range {
    -webkit-appearance: none;
    border: 1px solid #d4d4d4;
    width: 100px;
    margin: auto;
    display: block;
    height: 8px;
    outline: none;
    border-radius: 20px;
    margin: 20px;
   
}
.vertical-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #4c9793;
    width: 12px;
    height: 12px;
    border-radius: 18px;
    cursor: pointer;
}

.vertical-range1 {
    background: -webkit-linear-gradient(left, #fff 0%, #fff 65%, #000 65%, #000 100%);
}
.vertical-range2 {
    background: -webkit-linear-gradient(left, #fff 0%, #fff 50%, #000 50%, #000 100%);
}
.vertical-range3 {
    background: -webkit-linear-gradient(left, #fff 0%, #fff 90%, #000 90%, #000 100%);
}
/* End -chrome-*/

.vertical {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg)
}

.vert-input {
    float: right;
    display: inline-block;
    width: 33%;
    padding-top: -10px ;

}
.block1 {
    background-color:  #94cccd;
    padding-bottom: 50px;
    
}
.city {
    text-align: center;
    padding-bottom:25px;
    font-size: 16px;
}


/* Stayling for the second block---2 */
hr {
    width: 96%;
    margin-bottom: 5%;
}
.person-icon {
    width: 3%;
}
.person {
   font-size: 22px;
   font-weight: bold;
   padding-bottom: 5px; 
   color: #4c9793;
}
.about-person {
    position: absolute;
    top: 0;
    padding-top: 3.5%;
    line-height: 1;
}
.text-about-me {
    text-align: justify;
    margin-left: 3.5%;
    margin-right: 3.5%;
}
.border {
    border-left: 1px solid black;
    margin-left: 2.5%;
    padding-left: 15px;  
}
.prof-icon {
    width: 3%; 
}
.profesion {
    position: absolute;
    top: 25%;
    padding-top: 1%;
    line-height: 1;    
}
.title-row {
    padding-left: 5px; 
}
.distance {
    margin-top: 30px; 
    line-height: 0;
}
.year {
    margin-left: 11%;
    line-height: 1;
    font-size: 16px;
}
.job {
    padding-left: 15px;
    font-size: 16px;  
}
.education {
    position: absolute;
    top: 100%;
    padding-top: 1%;
    line-height: 1;    
}
.sertificat-icon {
    width: 2.5%;
    margin-right: 5px; 
}
.person-sertificates {
    line-height: 0.3;
    margin-left: 3.5%;
}















