
#chessboard{
    text-align:center;
}
.chessTable{
    margin: auto;
}

table {
    border-collapse: collapse;
}

table, td {
    border: 1px solid black;
}

.white, .silver {
    float: left;
    width: 55px;
    height: 55px;
    font-size:50px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;

}

.white {
    background-color: white;
}

.silver {
    background-color: silver;
}
#playerIndex {
    background-color: yellow;
    margin:auto;
    display:block;
    height: 25px;

}
#start {
    height: 25px;
    width: 50px;
    background-color: blue;
    margin:auto;
    display:block;

}
