<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>File Upload</h2>
            <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${successmessage}">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong th:text="${successmessage}"></strong>
            </div>
            <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${errormessage}">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong th:text="${errormessage}"></strong>
            </div>
            <form action="" th:action="@{'/fileupload'}" th:object="${user}" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="fileupload">File Upload(CSV or JSON)</label>
                    <input type="file" class="form-control" id="fileupload" name="file" th:field="*{file}">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-md-12">
            <h2>All Users</h2>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Email</th>
                    <th>Country</th>
                    <th>City</th>
                    <th>Street</th>
                    <th>File Type</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user: ${users}">
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.surName}"></td>
                    <td th:text="${user.age}"></td>
                    <td th:text="${user.gender}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.country}"></td>
                    <td th:text="${user.city}"></td>
                    <td th:text="${user.street}"></td>
                    <td th:text="${user.fileType}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>




 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</body>
</html>