.card {
	width: 70px;
	height: 100px;
	background-color: rgba(150, 0, 0, 0.7);
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 5%;
}

span {
	font-size: 22px;
	color: white;
}

#player-2 {
	margin-bottom: 50px;
}

#player-1 {
	margin-top: 50px;
}