*{
	margin: 0;
	padding:0;
}

#skizb {
    margin:0 0 50px 200px;
}

#gamer1 {
    margin:60px 0 0 100px;
}
#table {
    margin:0 0 10px 50px;
}

#kozr {
    margin:margin:0 0 0 300px;
}

#verj {
    margin:10px 0 50px 200px;
}

#gamer2{
    margin:10px 0 0 100px;
}
