body {
	display: flex;
	margin: 0;
    padding: 0;
}
.left {
	width: 30%;
	background: #94cccd;
	display: inline-block;
	text-align: center;
	font-family: sans-serif;
}
.right {
	width: 70%;
	display: inline-block;
	background: white;
	margin: 15px;
	font-family: sans-serif
}
*{box-sizing: border-box;}
img {
    margin: 7px;
    border-radius: 50%;
}
.personal {
	background: #e7e7e9;
}
.skills {
	background: #94cccd;
}
.fa-cogs:before {
    content: "\f085";
    color: white;
}
.fa-comment-dots:before {
    content: "\f085";
    color: white;
}

.skillcontainer {
    width: 80%;
    background-color: black;
    display: -webkit-inline-box;
    border-radius:100px;
}

.skill {
    text-align: -webkit-auto;
    padding: 5px; 
    color: white;
    border-radius: 70px;
}
.skill-text {
    width: 42%;
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin: 8px;
}
.one {width: 85%; background-color: white;}
.two {width: 72%; background-color: white;} 
.three {width: 84%; background-color: white;} 
.four {width: 68%; background-color: white;} 
.five {width: 75%; background-color: white;} 
.six {width: 67%; background-color: white;} 
.seven {width: 73%; background-color: white;} 
input[type=range][orient=vertical]
{
    -webkit-appearance: slider-vertical;
    width: 8px;
    height: 22vh;
    padding: 0 5px;
}


.resume h2 {
    color: white;
    font-weight: 100; 
}
.about {
    margin: 25px;
}
.about h2 {
    color: #4c9793;
}
.about span {
    font-size: larger;
}
.about h2 i {
    margin: 5px;
}
.languages {
    padding: 15px;
    margin: 25px;
}
.english {
    display: inline-block; 
    margin: 5px;
}
.english p {
    font-size: 22px;
}
.russian {
    display: inline-block;
    margin: 5px;
}
.russian p {
    font-size: 22px;
}
.chinese {
    display: inline-block;
    margin: 5px;
}
.chinese p {
    font-size: 22px;
}
.prof h2 {
    color: #4c9793;
    margin: 20px;
}
.prof h2 i {
    margin: 5px;
}
.education h2 {
    color: #4c9793;
    margin: 20px;
}
.prof-period {
    display: flex;
}
.prof-period-years {
    display: inline-block;
    width: 15%;
    font-size: larger;
}
.prof-period-content {
    display: inline-block;
    width: 85%;
    font-size: larger;
}
.awards ul li {
    font-size: larger;
    margin: 10px;
}
.awards h2 {
    color: #4c9793;
    margin: 20px;
}
.awards h2 i {
   margin: 5px:;
}
.prof ul {
    border-left-style: solid;
    padding: 11px;
    margin: 25px;
}
.education ul {
    border-left-style: solid;
    padding: 11px;
    margin: 25px;
}