* {
  margin: 0;
  padding: 0;
}

form {
  display: block;
  width: 400px;
  height: 450px;
  background-color: grey;
  opacity: 0.5;
  color: white;
  margin: auto;
  margin-top: 40px;
  padding: auto;
  padding-top: 30px;
}

h1 {
  color: white;
  text-align: center;
  margin-bottom: 40px;
}

.input {
  margin: auto;
  margin-bottom: 30px;
  margin-left: 15%;
  width: 70%;
  height: 28px;
  border-radius: 0;
  border: 0.5px solid white;
}

.butten {
  margin: auto;
  margin-bottom: 30px;
  margin-left: 15%;
  width: 70%;
  height: 28px;
  border-radius: 0;
  border: 0.5px solid white;
  background-color: grey;
  color: white;
  margin-top: 20px;
}

.butten:hover  {
  margin: auto;
  margin-bottom: 30px;
  margin-left: 15%;
  width: 70%;
  height: 28px;
  border-radius: 0;
  border: 0.5px solid gray;
  background-color: white;
  color: gray;
  margin-top: 20px;
}

body {
    background-image: url("image1.jpg");
    height: 100%;
    background-color: black;
}

.remember {
  margin-left: 60px;
  display: inline;
}

.pass {
  margin-bottom: 10px;
}

.small {
  font-size: smaller;
}

lable {
  margin-left: 10px; 
}