#App {
  display: grid;
	justify-content: center;
}

textarea {
	margin-top: 10px;
	max-width: 50%;
	max-height: 100px;
}

form {
	position: fixed;
	bottom: 10px;
	background-color: white;
	border: 2px solid black;
	padding: 10px 25px;
  left: 20%;
  right: 20%;
}

table {
  margin: 20px;
	border-collapse: collapse;
	border-spacing: 0;
  text-align: center;
}

th, td {
	padding: 10px;
}

#cards {
	margin-bottom: 100px;
}

.card {
	margin: 20px 0;
	padding: 20px;
	min-width: 300px;
	max-width: 600px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.close-icon {
  align-items: center;
  display: grid;
}

.close-icon > *:hover {
	background-color: rgba(255,0,0,0.7);
	transition: 0.5s;
}
