* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #F26F63;
}

.main {
    display: none;
    margin: 30px;
}

.white {
    background-color: #D96262;
    width: 70px;
    height: 70px;
    border: 0;
    border-collapse: collapse;
}

.white:hover {
    background-color:#D96262;
    width: 70px;
    height: 70px;
    border: 0;
    opacity: 0.6;
}

.black {
    background-color: #8C1B39;
    width: 70px;
    height: 70px;
    border-collapse: collapse;
    border: 0;
}

.black:hover {
    background-color: #8C1B39;
    width: 70px;
    height: 70px;
    border: 0;
    opacity: 0.6;
}

#changePlayer {
    display: none;
}

#step {
    display: none;
}

button {
    width: 180px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #8C0E03;
    color: white;
    font-size: larger;
    margin: 20px auto auto 20px;;
}

button:hover {
    width: 180px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #8C0E03;
    color: white;
    font-size: larger;
    margin: 20px auto auto 20px;
    opacity: 0.8;
}

p {
    color: white;
    font-size: larger;
}

#step {
    display: none;
    color: white;
}

.blackCircle {
    background-color: black;
}

.whiteCircle {
    background-color:white;
}

.circle {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}