*{
	margin:0px;
	padding:0px;
}
.content{
	width:80%;
	margin: 0 auto;
	overflow: hidden;
}
.left-side{
	height:1100px;
	width: 30%;
	float:left;
	background:#88bbd3;
}

.user_photo{
	background:#e2e2e2;
	padding:10px;
}

.right-side{
	width: 70%;
	float:right;
}

.photo{
	width:50%;
	margin: 0 auto;
	padding-top:20px;
}

.photo img{
	width:100%;
}

.title {
	background: #88bbd3;
	padding:15px;
}

.title h4{
	text-align:center;
	font-size:20px;
	color:#fff;
}

.info{
	padding:20px 0;
	background: #e2e2e2;

}

.info h3,.info h4,.info p{
	text-align:center;
}

.top{
	margin-top: 10px;
	padding-top: 20px;
	text-align:center;
	color:#fff;
}



.top h3{
	color:#000;
	margin-top:15px;
}

.skill{
	padding:25px;
	text-align:left;
}

.skill p{
	margin-top:7px;
}

.skill-slide{
	background:#fff;
	margin-top:5px;
	padding: 3px;
	border-radius:80px;
}




.right-info{
	padding:20px;
}

.right-info p{
	margin:5px 0;
	padding:0 30px;
}



.right-info h6{
	float:left;
	margin:10px 0;
	padding:0 20px;
}


.right-info hr{
	margin:20px 0;
}

.right-side h2{
	margin-top:10px;
	color:#88bbd3;
}

.experience ul{
	margin-top:10px;
	padding:0 30px;	
}
.experience-item {	
	position:relative;
}

.experience-item div{
	overflow:hidden;
}

.experience-item p{
	float:left;	
	padding:0 110px;
	font-size:12px;
}

.experience-item:before{
	content: " ";
    border-left: 1px solid #000;
    position: absolute;
    z-index: 99;
    left: 0;
    top: 9%;
    height: 100%;
}

.experience-item:after{
	content: " ";
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 80px;
    position: absolute;
    z-index: 99;
    left: -4px;
    top: 9%;
}


.awards p{
	
	padding:0 40px;
}



.langs{
	overflow:hidden;
	position: relative;
	padding:110px 0;
}
.lang{
	width: 20px;
	float:left;
	margin-left:40px;
	position: relative;
}

.lang-1:before{
	content: "English";
    position: absolute;
    top: -79px;
    left: 38px;
    z-index: 99;
}



.lang-2:before{
	content: "Russian";
    position: absolute;
    top: -79px;
    left: 38px;
    z-index: 99;
}

.lang-3:before{
	content: "Chines";
    position: absolute;
    top: -79px;
    left: 38px;
    z-index: 99;
}

.vertical-heighest-first{
	background:#88bbd3;
    -webkit-transform:rotate(270deg); 
    -moz-transform:rotate(270deg); 
    -o-transform:rotate(270deg); 
    -ms-transform:rotate(270deg); 
    transform:rotate(270deg); 
}

.lang input{ 
    cursor: pointer;
    width: 100px !important;
    -webkit-appearance: none; 
    z-index: 200; 
    width:50px; 
    border: 1px solid #88bbd3; 
    background-color: #88bbd3; 
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e6e6e6), to(#d2d2d2)); 
    background-image: -webkit-linear-gradient(right, #e6e6e6, #d2d2d2); 
    background-image: -moz-linear-gradient(right, #e6e6e6, #d2d2d2); 
    background-image: -ms-linear-gradient(right, #e6e6e6, #d2d2d2); 
    background-image: -o-linear-gradient(right, #e6e6e6, #d2d2d2); 
}

.lang input:focus{
    border: 0 !imporant; 
	outline: none !important; 
}

.lang input::-webkit-slider-thumb{
    -webkit-appearance: none; 
    width: 10px; 
    height: 10px; 
	background-color: #88bbd3; 
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4DDBFF), to(#00CCFF)); 
    background-image: -webkit-linear-gradient(right, #4DDBFF, #00CCFF); 
    background-image: -moz-linear-gradient(right, #4DDBFF, #00CCFF); 
    background-image: -ms-linear-gradient(right, #4DDBFF, #00CCFF); 
    background-image: -o-linear-gradient(right, #4DDBFF, #00CCFF); 
}
    