input {
  border: 2px solid blue;
  padding: 12px 20px;
  margin-right: 2em;
}
.my-table-style {
  padding-top: 3em;
  padding-bottom: 3em;
  border-radius: 5px;
  background-color: #c3c388;
  box-shadow: 10px 5px 10px #ffd24d;
}
