.home {
    display: inline-flex;
    width:100%;
    margin-top: 1em;
    
  }
  
  .sidenav{
background-color: #47a9e4;
border-radius: 0px 10px 10px 0px;

  }
  
  .logOutButton{
    position: absolute;
    background-color: #47e483;
    border-radius: 7px;
    padding:7px;
    top: 50em;
    border: none;
    color: white;
    text-align: center;
    cursor: pointer;
    
  }
  .logOutButton:hover {
    background-color:#fff; 
    color: #47a9e4;
  }
  
  
  .userStyle > img {
    width: 4em;
    border-radius:45%;
    padding-top: 0.5em;

  }
  .container{
    background-color: #e7f3ec;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgb(182, 180, 180);
    display: inline-flex;
    padding:1em;
    margin:1em 1em 1em 5em;
    width: 90%;
  }
  .leftConteiner {
    background-color: #cfcfcc;
    border-radius: 15px;
    box-shadow: 5px 5px 5px gray;
    padding-left: 1em;
    margin: 1em;
    float:left;
    width: 15%;
  
 }

 .rightConteiner {
   width: 45%;
   background-color: #cfcfcc;
   border-radius: 15px;
   box-shadow:  5px 5px 5px gray;
   padding: 1em;
   margin: 1em 1em 1em 14em;
   

   
 }
  