.left_part {
    float:left;
    width:26%;
    background-color:#8bcaca
}

.right_part {
    width:74%;
}

.title-resume {
	color: white;
}

h1 {
	text-align: center;
	margin: 7px;
	font-weight: normal;
	font-family: sans-serif;
	font-size: 30px;
}

h2 {
	text-align: center;
	margin: 0px;
	margin-bottom: 10px;
	font-weight: normal;
	font-family: sans-serif;
}

h3 {
	text-align: center;
	margin: 0px;
	margin-bottom: 5px;
	font-weight: normal;
	font-family: sans-serif;
}

h4 {
	margin: 0px;
	font-weight: normal;
	font-family: sans-serif;
}

h5 {
	text-align: center;
	margin: 0px;
	font-weight: bold;
	font-family: sans-serif;
}

.div-circle {
	padding: 20px;
	padding-bottom: 10px;
}

img {
	border-radius: 50%;
}

p {
	font-size: 14px;
	font-family: sans-serif;
	margin: 0px;
}

th {
	font-family: sans-serif;
	margin-bottom: 4px;
	color: #59595b;
}

li {
	margin-bottom: 6px;
}

.header-about {
	color: #4c9793; 
	font-weight: 600;
	text-align: start;
	margin-top: 10px;
}

.main-container {
    width: 100vw;
}

.div-range {
	display: inline-block;
	width: 30%;
	text-align: center;
}

.w3-blue {
	color: #4c5447!important;
    background-color: #fefdeb!important;
}

.w3-container{
    padding: 0.01em 2px;
    height: 10px;
}

.w3-round-xlarge {
    border-radius: 16px;
}

.w3-light-grey {
    color: #fefdeb!important;
    background-color: #4c5447!important;
    margin-bottom: 14px;
    margin-top: 4px;
    width: 100%;
}



.left_part {
    float:left;
    width:26%;
    background-color:#8bcaca
}

.text {
    font-size: 15px;
    font-family: sans-serif;
    color: #59595b;
}

.right_part {
    width:70%;
}

.slider-wrapper {
  display: inline-block;
  width: 20px;
  height: 150px;
  padding: 0;
  transform-origin: 75px 75px;
  transform: rotate(-90deg);
}
