* {
    padding: 0;
    margin: 0;
}
.container {
    display: flex;
}
/*Left*/
.flex1 {
    flex: 1;
    background: #94cccd;
}
.flex1-1 {
    background: #e7e7e9;
    padding-bottom: 5%;
}
.flex1-1 h3 {
    color: #FFF;
    background: #94cccd;
    font-family: sans-serif;
    font-weight: normal;
    text-align: center;
    font-size: 160%;
    padding: 3%;
    margin-bottom: 4%;
}
.flex1-1 p, h2, h4 {
    text-align: center;
    margin: 2%;
    font-family: sans-serif;
    font-weight: normal;
    transparent: 0.7;
}
.flex1-1 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding-bottom: 5%;
}
.flex1-2 {    
    padding: 3% 10% 10% 10%;
}
.flex1-2 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}
.flex1-2 p {
    margin-top: 3%;
}
progress {
    height: 8px;
    width: 90%;
    border-radius: 25px;
    background: #777;
    margin: 3%;
}
progress::-webkit-progress-value {
    background: #fff; 
    border-radius: 25px;
}
progress::-moz-progress-bar {
     border-radius: 25px;
     background: #fff;
}
.flex1-3 {
    padding: 3% 10% 10% 10%;
}
.flex1-3 p, h4 {
    color: #000;
    opacity: 0.7;
    font-family: sans-serif;
}
.flex1-3 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}
.ranges {
    display: flex;
    justify-content: space-around;
}

/*Ranges styles*/

input[type="range"] {
    display: block;
    margin: 10% auto 10% auto;
    background: transparent;
}

input[type="range"]::-moz-range-track {
    background: #777; /*activeTrackColor*/
}
/* range thumb*/
input[type="range"]::-moz-range-thumb {
    background: #4c9793;
}

input[type="range"]::-moz-range-progress {
    background: #FFF; /*activeThumbColor*/
}

/*Right*/
.flex2 {
    flex: 2;
    background: #fff;
}
.flex2-1 {
    padding: 3% 2%;
}
.flex2-2 {
    padding: 3% 2%;
}
.flex2-3 {
    padding: 3% 2%;
}
.flex2-4 {
    padding: 3% 2%;
}
.flex2 img {
    display: inline;
    width: 5%;
}
.flex2 h2 {
    display: inline;
}
.flex2 p {
    font-family: sans-serif;
    font-size: small;
    color: #777;
    margin-left: 15%;
    text-align: justify;
}
.flex2-3 p {
     color: #000;
}
.flex2 h2 {
    color: #4c9793;
    margin-top: 5%;
    margin-bottom: 0%;
    font-family: sans-serif;
}
.flex2 pre {
    opacity: 0.7;
    font-weight: bold;
}
hr {
    width: 90%;
    margin: 2% auto 1% auto;
    color: #dcdee2;
}
ul {
    padding-left: 5%;
}
ul li {
    margin-top: 3%;
    position: relative;
}
ul li::before {
    background:#000;
    opacity: 0.5;
    content: "";
    position: absolute;
    top: 8%;
    left: -12px;
    width: 0.3%;
    height: 120%;
}
ul li:last-child::before {
  display: none;
}
ol {
    padding-left: 5%;
}
ol li {
    margin-top: 2%;
    list-style: none;
    color: #777;
    font-family: sans-serif;
}
 
